<!-- Fixed navbar -->
<div class="navbar navbar-inverse">
<div class="container">
<div class="navbar-header">
<!-- Button for smallest screens -->
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
<a class="navbar-brand" href="index.html">
    <img src="__PUBLIC__/uploads/20180419/86aa8c4b3f73677c1d4d4e50186d9619.jpg" style="width: 100px; height: 60px;" alt="Techro HTML5 template"></a></div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav pull-right mainNav">
<li class="active"><a href="{:url('Index/index')}">主页</a></li>
<li><a href="{:url('Index/about')}">公司简介</a></li>
<li><a href="{:url('Index/services')}">服务类型</a></li>
<li><a href="{:url('Index/price')}">作品展示</a></li>
    <li><a href="{:url('Index/projects')}">项目模块</a></li>
<li><a href="{:url('Index/contact')}">联系我们</a></li>

</ul>
</div>
<!--/.nav-collapse -->
</div>
</div>
<!-- /.navbar -->